<h1>All Blog Posts</h1>
<%= link_to "New Post", new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong><%= link_to post.title, post_path(post) %></strong><br>
      <%= truncate(post.content, length: 100) %>
    </li>
  <% end %>
</ul>
