<h1 class="posts-heading">All Posts</h1>

<div class="posts-grid">
  <% @posts.each do |post| %>
    <div class="post-card">
      <h2 class="post-title"><%= link_to post.title, post_path(post) %></h2>
      
      <% if post.image.attached? %>
        <div class="post-image-container">
          <%= image_tag url_for(post.image), class: "post-image" %>
        </div>
      <% end %>
      
      <p class="post-content"><%= truncate(post.content, length: 150) %></p>
    </div>
  <% end %>
</div>
